@import "tailwindcss";

/* Tailwind dark variant */
@custom-variant dark (&:where(.dark, .dark *));

/* =====================
   LIGHT MODE
===================== */
:root {
  --background: #E9F6FF;
  --foreground: #ffffff;

  --skyblue: #4DA8DA;
  --skyblue-teks: #aedaf2;
  --skyblue-old: #0273b0;
  --seagreen: #80D8C3;

  --font-heading: "Montserrat", sans-serif;
  --font-body: "Sora", sans-serif;
}

/* =====================
   DARK MODE
===================== */
.dark {
  --background: #050B1E;
  --foreground: #01013E;

  --skyblue: #9936ef;
  --skyblue-teks: #f18ffc;
  --skyblue-old: #292bed;
  --seagreen: #3ecbff;
}

/* =====================
   TAILWIND THEME
===================== */
@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);

  --color-skyblue: var(--skyblue);
  --color-skyblue-teks: var(--skyblue-teks);
  --color-skyblue-old: var(--skyblue-old);
  --color-seagreen: var(--seagreen);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

/* =====================
   GLOBAL
===================== */
body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: var(--font-body);
  transition: background 0.5s ease, color 0.5s ease;
}

/* =====================
   STAR BACKGROUND
===================== */
.star-bg {
  position: fixed;
  inset: 0;
  pointer-events: none;
  outline: 3px solid red;
  background:
    radial-gradient(1px 1px at 20% 30%, #fff, transparent),
    radial-gradient(1.5px 1.5px at 80% 20%, #fff, transparent),
    radial-gradient(1px 1px at 40% 70%, #fff, transparent);
  background-size: 300px 300px;
  opacity: 0.6;
  animation: stars-move 60s linear infinite;
}

@keyframes stars-move {
  to {
    background-position: 1000px 1000px;
  }
}

@layer utilities {
  .bg-none {
    background: none !important;
  }
}
@layer utilities {
  .bg-about-light {
    background:
      radial-gradient(circle at bottom right, #80D8C3, transparent 40%);
  }
}

