@import "tailwindcss";

:root {
  --background: #E9F6FF;
  --foreground: #f5f5f5;

  --skyblue: #4DA8DA;
  --skyblue-teks: #aedaf2;
  --skyblue-old: #0273b0;

  --seagreen: #80D8C3;

  --font-heading: "Montserrat", sans-serif;
  --font-body: "Sora", sans-serif;

  --gradient-skyblue: linear-gradient(
    to right,
    var(--skyblue-teks),
    var(--skyblue-old)
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-skyblue: var(--skyblue);
  --color-skyblue-teks: var(--skyblue-teks);
  --color-skyblue-old: var(--skyblue-old);
  --color-seagreen: var(--seagreen);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C1A31;
    --foreground: #1C375A;
    --skyblue: #2FC7DD;
    --skyblue-teks: #3DE1FF;
    --skyblue-old: #1E529C;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
